# Soscipy
Soscipy is a python library to simplify working with data specially in social sciences. While there are several packages out there, I have personally found it difficult to find out the right library to stick to and the right recepies to use. Unlike other domain where computational methods have seen a rapid growth, social sciences remain a relatively unexplored area. This is first of the 4 tutorials which will explore data analysis in education. 

There are four parts to soscipy:
- **Data Analysis** : Aims to make rapid analysis easy while not compromising on any functionalities and extendability
- **Data Processing** : Makes common actions with structured data easy and accessible without needing expertiese in computer science
- **Data Visualisation** : Rapid visualisations while ensuring that the output is publication quality
- **Utilities** : A set of utilities that you can plug and play to make your workflow easy

### Data Analysis

There are four types of structured datasets that is majorly dealt with in social science:
- Time series
- Microdata
- Geospatial

In this notebook we will see an example of all of these four data types, how to do basic EDA using soscipy and how to do quick visualisations

### 1. Problem statement
We want to analyse the relationship between the countries expenditure on education and their income inequality. We will import data from worldbank using soscipy dataloader. We will enrich the data with some of the common economic indicators and then we will do a regression analysis and visualise it to see the relationship between these two indicators.

In [10]:
!pip install --upgrade --force-reinstall soscipy

Collecting soscipy
  Downloading soscipy-0.0.6-py3-none-any.whl (7.7 kB)
Installing collected packages: soscipy
  Attempting uninstall: soscipy
    Found existing installation: soscipy 0.0.5
    Uninstalling soscipy-0.0.5:
      Successfully uninstalled soscipy-0.0.5
Successfully installed soscipy-0.0.6

In [11]:
from soscipy.utilities import browser
from soscipy.process import rename_pd

In [12]:
rename_pd.rename_pd??

Fetching data
- We will visit the World Bank data page and look for the datafile.

In [ ]:
rename_pd.rename_pd

In [ ]:
#Fetching data from worldbank

In [3]:
data_url = "https://data.worldbank.org/indicator/SE.XPD.TOTL.GD.ZS?view=chart"

In [4]:
import pandas as pd
import world_bank_data as wb

In [5]:
def world_bank_data(url):
    indicator = url.split('?')[0].split('/')[-1]
    dat = wb.get_series(indicator,mrv=1).to_frame().reset_index()
    series = dat['Series'].unique()[0]
    dat = dat.drop(['Series'],axis=1)
    
    #rename the indicator column
    return dat

In [6]:
d = world_bank_data('https://data.worldbank.org/indicator/SE.XPD.TOTL.GD.ZS')

In [7]:
d

                            Country  Year  SE.XPD.TOTL.GD.ZS
0                        Arab World  2019                NaN
1            Caribbean small states  2019            5.16919
2    Central Europe and the Baltics  2019                NaN
3        Early-demographic dividend  2019                NaN
4               East Asia & Pacific  2019                NaN
..                              ...   ...                ...
259           Virgin Islands (U.S.)  2019                NaN
260              West Bank and Gaza  2019                NaN
261                     Yemen, Rep.  2019                NaN
262                          Zambia  2019                NaN
263                        Zimbabwe  2019                NaN

[264 rows x 3 columns]

In [ ]:
from soscipy.process import rename_pd

In [ ]:
[dat.columns[-1]]

In [ ]:
dat = d
rename_pd.rename_pd(dat,[dat.columns[-1]],['test'])

In [ ]:
dat = world_bank_data(string)

In [ ]:
col_name

In [ ]:
dat.columns

In [ ]:
all(elem in dat.columns for elem in col_name)

In [ ]:
col_name = [dat.columns[-1]]

In [ ]:
dat.columns

In [ ]:
from soscipy.

In [ ]:
rename_pd.rename_pd(dat,[dat.columns[-1]],[dat.Series.unique()[0]])

In [ ]:
dat.columns[-1]

In [ ]:
dat.Series.unique()[0]

In [ ]:
dat.drop(['Series'],axis=1)

### Installation

In [ ]:
!pip install -U soscipy

In [ ]:
type(dat) == pd.core.frame.DataFrame